body {
    overflow-x: hidden;
}

.article {
    word-wrap: break-word;
    font-size: x-large;
}

img {
    width: 20%;
    height: 20%;
}

pre {
    white-space: pre-wrap;
}

h2 {
    margin: 0;
    padding-bottom: 10px;
}

.headers {
    background-color: rgb(223, 228, 233);
    padding: 10px;
    border-radius: 6px;
}

.edit {
    font-size: x-large;
}