.wall {
    display: flex;
    flex-wrap: wrap;
}

.post {
    width: 450px;
    height: 350px;
    margin: 0.5%;
    padding-left: 1%;
    border: 3px solid rgb(214, 214, 214);
    background-color: aliceblue;
    overflow: hidden;
    cursor: pointer;
}

img {
    width: 200px;
    height: 200px;
    object-fit: contain;
}