body {
    overflow-x: hidden;
}

.article {
    word-wrap: break-word;
    font-size: x-large;
}

.article-img {
    width: 20%;
    height: 20%;
    margin-top: 10px;
}

pre {
    white-space: pre-wrap;
}

h2 {
    margin: 0;
}

.headers {
    background-color: rgb(223, 232, 233);
    padding: 10px;
    border-radius: 6px;
}

.contents {
    background-color: aliceblue;
    padding: 6px;
    border-radius: 6px;
    margin-block: 20px;
}

.edit {
    font-size: x-large;
    display: flex;
    margin-bottom: 20px;
}

.comment {
    font-size: x-large;
    background-color: rgb(223, 233, 223);
    padding: 10px;
    border-radius: 6px;
    margin-block: 20px;
}

#vote-box {
    margin-block: 20px;
}

.vote {
    font-size: larger;
    background-color: rgb(184, 184, 184);
}

.up {
    background-color: rgb(182, 226, 182);
}

.down {
    background-color: rgb(228, 166, 166);
}