body {
    overflow-x: hidden;
}

.article {
    word-wrap: break-word;
    font-size: x-large;
}

img {
    width: 20%;
    height: 20%;
    margin-top: 10px;
}

pre {
    white-space: pre-wrap;
}

h2 {
    margin: 0;
}

.headers {
    background-color: rgb(223, 232, 233);
    padding: 10px;
    border-radius: 6px;
}

.edit {
    font-size: x-large;
}

.comment {
    font-size: x-large;
    background-color: rgb(223, 233, 223);
    padding: 10px;
    border-radius: 6px;
    margin-block: 20px;
}