<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Article.Title }} | blogchad</title>
    <link rel="stylesheet" href="/assets/blogchad/styleArticle.css">
</head>
<body>
    <div class="article" id="{{ .Article.ID }}">
        <p>{{ .Article.Date }}</p>
        <a href="/chad/{{ .Article.UserID }}"><h3>{{ .Article.Username }}:</h3></a>
        <div class="headers">
            <h2>{{ .Article.Title }}</h2>
            <img src="/img/{{ .Article.ID }}" alt="no image">
        </div>
        <div class="contents">
            <p>Text:</p>
            <pre>{{ .Article.Text }}</pre>
        </div>
    </div>

    {{ if eq .UserID .Article.UserID }}
    <a href="/blogchad/write?id={{ .Article.ID }}" class="edit">Edit</a>
    <a href="/blogchad/delete?id={{ .Article.ID }}" class="edit">Delete</a>
    {{ end }}

    <h2>Comments ({{ len .Article.Comments }}):</h2>
    <h3>write a comment:</h3>
    <form method="POST" action="/api/blogchad/comment" id="comment-form">
        <textarea name="text" rows="10" cols="40"></textarea>
        <br>
        <input type="submit" value="enter">
        <input type="hidden" name="id" value="{{ .Article.ID }}">
    </form>

    <div id="vote-box">
        <button id="up" class="vote
        {{ if not (eq .ArticleVote -1) }}
        up
        {{ end }}
        " value="{{ len .Article.Upvotes }}">upvote ({{ len .Article.Upvotes }})</button>
        <button id="down" class="vote 
        {{ if not (eq .ArticleVote 1) }}
        down
        {{ end }}
        " value="{{ len .Article.Downvotes }}">downvote ({{ len .Article.Downvotes }})</button>
    </div>

    {{ range .Article.Comments }}

    <div class="comment" id="{{ .ID }}">
        <pre>{{ .Date }}</pre>
        <a href="/chad/{{ .UserID }}">{{ .Username }}:</a>
        <pre class="comment-text">{{ .Text }}</pre>
    </div>
    
    {{ end }}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script src="/assets/blogchad/scriptArticle.js"></script>
</body>
</html>