<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Article.Title }} | blogchad</title>
    <link rel="stylesheet" href="/assets/blogchad/styleArticle.css">
</head>
<body>
    <div class="article">
        <p>{{ .Article.Date }}</p>
        <a href="/chad/{{ .Article.UserID }}"><h3>{{ .Article.Username }}:</h3></a>
        <div class="headers">
            <h2>{{ .Article.Title }}</h2>
            <img src="{{ .Article.Image }}" alt="no image">
        </div>
        <div class="contents">
            <p>Text:</p>
            <pre>{{ .Article.Text }}</pre>
        </div>
    </div>
    {{ if eq .UserID .Article.UserID }}
    <a href="/blogchad/write?id={{ .Article.ID }}" class="edit">Edit</a>
    {{ end }}
</body>
</html>