<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Article.Title }} | blogchad</title>
    <link rel="stylesheet" href="/assets/blogchad/styleArticle.css">
</head>
<body>
    <div class="article">
        <p>{{ .Article.Date }}</p>
        <a href="/chad/{{ .Article.UserID }}"><h3>{{ .Article.Username }}:</h3></a>
        <div class="headers">
            <h2>{{ .Article.Title }}</h2>
            <img src="/img/{{ .Article.ID }}" alt="no image">
        </div>
        <div class="contents">
            <p>Text:</p>
            <pre>{{ .Article.Text }}</pre>
        </div>
    </div>

    {{ if eq .UserID .Article.UserID }}
    <a href="/blogchad/write?id={{ .Article.ID }}" class="edit">Edit</a>
    <a href="/blogchad/delete?id={{ .Article.ID }}" class="edit">Delete</a>
    {{ end }}

    <h2>Comments ({{ len .Comments }}):</h2>
    <h3>write a comment:</h3>
    <form method="POST" action="/api/blogchad/comment" id="comment-form">
        <textarea name="text" rows="10" cols="40"></textarea>
        <br>
        <input type="submit" value="enter">
        <input type="hidden" name="id" value="{{ .Article.ID }}">
    </form>

    <div id="vote-box">
        <button id="up" class="vote">upvote (10)</button>
        <button id="down" class="vote">downvote (10)</button>
    </div>

    {{ range .Comments }}

    <div class="comment" id="{{ .ID }}">
        <pre>{{ .Date }}</pre>
        <a href="/chad/{{ .UserID }}">{{ .Username }}:</a>
        <pre class="comment-text">{{ .Text }}</pre>
    </div>
    
    {{ end }}
</body>
</html>