<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/blogchad/style.css">
    <title>wall | blogchad</title>
</head>
<body>
    <h2 class="greet">Welcome to blogchad, {{ .Username }}!</h2>
    <h3>Articles:</h3>
    <div class="wall">
        {{ range .Articles }}

        <a href="/blogchad/article/{{ .ID }}" class="article">
            <div>
                <h3 class="article-title">{{ .Title }}</h3>
                <img class="article-image" src="/img/{{ .ID }}" alt="no image">
                <h4>Author: {{ .Username }}</h4>
                <h4>Post date: {{ .Date }}</h4>
            </div>
        </a>

        {{ end }}
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
</body>
</html>