<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>write | blogchad</title>
    <link rel="stylesheet" href="/assets/blogchad/styleWrite.css">
</head>
<body>
    <h2>Write here:</h2>
    <form method="POST" action="/api/blogchad" enctype="multipart/form-data">
        <div>
            <label for="title">Article title:</label>
            <input type="text" name="title" id="title" maxlength="255" value="{{ .Title }}" required>
        </div>
        <br>
        <div>
            <label for="image">Image:</label>
            <input type="file" name="image" id="image">
        </div>
        <br>
        <div>
            <label for="text">Text:</label>
            <textarea type="text" name="text" id="text" maxlength="65535" rows="20" required>{{ .Text }}</textarea>
        </div>
        <br>

        <input type="hidden" name="id" value="{{ .ID }}">

        <input type="submit" value="Post" style="font-size: xx-large;">
    </form>
</body>
</html>