<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/blogchad/style.css">
    <title>home | chatchad</title>
</head>
<body>
    <h2 class="greet">Welcome to blogchad, {{ . }}!</h2>
    <h3>Articles:</h3>
    <div class="wall">
        <div class="post" id=1>
            <h3 class="article-title">A B A B A B </h3>
            <img class="article-image" src="https://upload.wikimedia.org/wikipedia/commons/c/cc/Icon_Pinguin_1_512x512.png">
            <h4 class="author">Author: bobie</h4>
        </div>

        <div class="post" id=0>
            <h3 class="article-title">A B A B A B </h3>
            <img class="article-image" src="https://upload.wikimedia.org/wikipedia/commons/c/cc/Icon_Pinguin_1_512x512.png">
            <h4 class="author">Author: bobie</h4>
        </div>
    </div>

    <a href="/home">Home</a>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script src="assets/blogchad/script.js"></script>
</body>
</html>