<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .User.Username }} | chad</title>
    <link rel="stylesheet" href="/assets/blogchad/style.css">
    <link rel="stylesheet" href="/assets/chad/style.css">
</head>
<body>
    <h2>{{ .User.Username }}'s profile</h2>
    <h3>Member since {{ .User.Date }}</h2>
    <div class="desc-back">
        <h3>description:</h3>
        <pre class="description">{{ .User.Desc }}</pre>
    </div>
    
    {{ if .IsUser }}
    <button id="edit-btn">Edit</button>
    <form id="edit-form" action="/api/chad/edit" method="post">
        <label for="new-username">new username:</label>
        <input type="text" id="new-username" name="username" maxlength="31" value="{{ .User.Username }}">
        <br>
        <label for="new-description">new description:</label>
        <textarea id="new-description" name="description" maxlength="255">{{ .User.Desc }}</textarea>
        <br><br>
        <input type="submit" value="submit">
    </form>
    {{ end }}

    <h2>{{ .User.Username }}'s blogchad articles:</h2>
    <div class="wall">
        {{ range .Articles }}

        <a href="/blogchad/article/{{ .ID }}" class="article">
            <div>
                <h3 class="article-title">{{ .Title }}</h3>
                <img class="article-image" src="{{ .Image }}" alt="no image">
                <h4>Post date: {{ .Date }}</h4>
            </div>
        </a>

        {{ end }}
    </div>

    {{ if .IsUser }}
    <div class="logout-outer">
        <a href="/logout" class="logout">logout</a>
    </div>
    {{ end}}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script src="/assets/chad/script.js"></script>
</body>
</html>