<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/chatchad/style.css">
    <title>home | chatchad</title>
</head>
<body>
    <h2 class="greet">Welcome to chatchad, {{ . }}!</h2>
    <div id="chat">

    </div>
    <div><textarea spellcheck="false" maxlength="2047" class='typebox' cols="40" rows="8"></textarea></div>

    <main>
        <div class="container">
            <div>
            <button>
                <div class="inner send">
                SEND <span></span>
                </div>
            </button>
            </div>
        </div>
    </main>


    <br>
    <a href="/home">Home</a>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script src="assets/chatchad/script.js"></script>
</body>
</html>