<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/header/style.css">
</head>
<body>
    <header>
        <a href="/home" class="control">home | appchad</a>
        <a href="/chatchad" class="control">chatchad</a>
        <div class="header-group">
            <a href="/blogchad" class="control">wall | blogchad</a>
            <a href="/blogchad/write" class="control">write | blogchad</a>
        </div>
        <div class="separ"></div>
        <img src="/assets/header/bell.png" class="control notif-icon" alt="notifications">
        <a href="/chad/{{ .ID }}" class="control profile">{{ .Name }} | chad</a>
    </header>
    <div class="notif-box">

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script src="/assets/header/script.js"></script>
</body>
</html>